<div class="container mt-3">
    
    <h1>MARIO BROS </h1>
    
    <p>TUS JUEGJOS DE MARIO KART ACTUALIZADOS:</p>  


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Spoiler</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
        @for (item of juegos; track item) {
            <tr>
                @if(item.precio > "40" ){
                <th scope="row">{{item.id}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>

                <td>
                <!--//////////////////////////////////////////////////////////////////////-->  
                @if( visualizar == item.id ){
                
                    <button class="btn btn-warning" (click)="ver('hola')">Spoiler</button>
                    <img src="{{item.url}}" alt="" height="200">

                } @else {
                    <button class="btn btn-primary" (click)="ver(item.id)">Spoiler</button>
                }
                <!--///////////////////////////////////////////////////////////-->  
                </td>
                }
                <td>
                    <button [routerLink]="['/detalles-juegos', item.id]">Detalles</button>
                </td>
                
            </tr>
        }    
    </tbody>
</table>

    <label for="id">Ingrese el Id de su juego preferido :</label>
    
    <input type="text" [(ngModel)]="idJuego">


    <button (click)="buscarJuegoPorId(idJuego)">Buscar</button>

    <div *ngIf="juegoEncontrado">
        <h2>{{ juegoEncontrado.nombre }}</h2>
        <p>Precio: ${{ juegoEncontrado.precio }}</p>
        <img [src]="juegoEncontrado.url" alt="{{ juegoEncontrado.nombre }}">
      </div>
</div>

<form (ngSubmit)="filtrarJuegos()">
    <label for="precioMinimo">Precio Mínimo:</label>
    <input type="number" id="precioMinimo" name="precioMinimo" [(ngModel)]="precioMinimo">
  
    <label for="precioMaximo">Precio Máximo:</label>
    <input type="number" id="precioMaximo" name="precioMaximo" [(ngModel)]="precioMaximo">
  
    <button type="submit">Filtrar</button>
  </form>

  <div *ngFor="let juego of juegosFiltrados">
    <h3>{{ juego.nombre }}</h3>
    <p>Precio: ${{ juego.precio }}</p>
    <img [src]="juego.url" alt="{{ juego.nombre }}">
  </div>




  

